@{
    ViewData["Title"] = "Blog";
}

@{
    ViewBag.Title = "Blog Post Title";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Blog Post Title</h1>
            <p class="lead">Posted on April 30, 2023</p>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit euismod tortor, ac venenatis nisi lacinia vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec ut semper augue, vel tristique velit. Phasellus vulputate erat nec justo convallis, vel faucibus dolor rhoncus. Nulla facilisi. Nulla facilisi. Aenean sit amet eros nec est suscipit faucibus.</p>
            <p>Suspendisse potenti. Pellentesque efficitur arcu quis semper ullamcorper. Nullam rutrum ullamcorper velit, nec consectetur lacus tristique vel. Nam efficitur vehicula metus, vitae molestie massa varius vel. Vivamus euismod diam sed enim bibendum convallis. Ut et nisl ac purus sodales bibendum.</p>
            <p>Morbi at ipsum magna. Integer viverra neque non nibh bibendum, auctor lacinia lorem faucibus. Proin efficitur nisi in quam hendrerit, non vestibulum sapien gravida. Maecenas euismod aliquet ipsum, vel fringilla nulla aliquet eget. Donec at enim quis lectus tristique vulputate id quis magna. Nunc congue laoreet nisl, euismod posuere purus pulvinar vel.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300x300.png?text=Image+Placeholder" class="img-fluid rounded-circle">
        </div>
    </div>
</div>
