@{
    ViewData["Title"] = "Home";
}

@{
    ViewBag.Title = "Home";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Blogistaan</h1>
            <p class="lead">We're a community of bloggers who love to share our thoughts, ideas, and experiences with the world. Whether you're looking for inspiration, information, or just a good read, you've come to the right place.</p>
        </div>
        <div class="col-md-4">
            <img src="https://via.placeholder.com/300x300.png?text=Image+Placeholder" class="img-fluid rounded-circle">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Latest Posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=Image+Placeholder" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit euismod tortor, ac venenatis nisi lacinia vel.</p>

@*                    it's temporary
*@
     
                    <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Blog">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=Image+Placeholder" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit euismod tortor, ac venenatis nisi lacinia vel.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200.png?text=Image+Placeholder" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Post Title</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit euismod tortor, ac venenatis nisi lacinia vel.</p>
                    <a href="#" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>


