@using Blogistaan.ViewComponents

@{
    ViewData["Title"] = "Home";
}

@{
    ViewBag.Title = "Home";
}

<div class="container my-5">
    <div class="row">
        <div class="col-md-8">
            <h1>Welcome to Blogistaan</h1>
            <p class="lead">We're a community of bloggers who love to share our thoughts, ideas, and experiences with the world. Whether you're looking for inspiration, information, or just a good read, you've come to the right place.</p>
        </div>
        <div class="col-md-4">

      </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mb-3">Latest Posts from Database</h2>
        </div>
    </div>
    <div class="row">
        @if (Model == null || Model.Count == 0)
        {
            <h1>No Blogs posted yet. Visit us later!</h1>
        }
        else
        {
            @foreach (var post in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="card h-100">                        
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <p class="card-text">@post.ShortDescription</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Blog" asp-action="Blog" asp-route-id="@post.Id">Read More</a>
                            @*<a href="@Url.Action("Blog", "Blog", new { id = post.Id })">Read More</a>
                    *@

                        </div>
                    </div>
                </div>
            }


@*            @await Component.InvokeAsync(typeof(BlogViewComponent), Model)
*@
            
        }
    </div>
</div>

