@{
    ViewBag.Title = "Chat Room";
}

<div class="container">
	<div class="row p-1">
		<div class="col-1">User</div>
		<div class="col-5"><input type="text" id="userInput" /></div>
	</div>
	<div class="row p-1">
		<div class="col-1">Message</div>
		<div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
	</div>
	<div class="row p-1">
		<div class="col-6 text-end">
			<input type="button" id="sendButton" value="Send Message" />
		</div>
	</div>
	<div class="row p-1">
		<div class="col-6">
			<hr />
		</div>
	</div>
	<div class="row p-1">
		<div class="col-6">
			<ul id="messagesList"></ul>
		</div>
	</div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/site.js"></script>


@*
<h2>Chit Chat with other readers here</h2>

<input type="text" id="username" placeholder="Enter your name" />
<input type="text" id="message" placeholder="Type your message" />
<input type="button" id="sendButton" value="Send" />

<ul id="chatMessages"></ul>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>

    <script>

    </script>
}
*@